<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adityakarang.sampahku">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">
        <activity
            android:name=".view.role.user.activities.scan.CameraActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCj5SkaElmuRdjzt4sPLKTMCbGOHbwVJbk" />

        <activity
            android:name=".view.role.user.activities.lokasi.LocationActivity"
            android:exported="false"
            android:label="@string/title_activity_location" />
        <activity
            android:name=".view.role.user.activities.tukarsampah.TukarSampahActivity"
            android:exported="false" />
        <activity
            android:name=".view.role.user.activities.pickup.PickupActivity"
            android:exported="false" />
        <activity
            android:name=".view.role.admin.activities.KategoriActivity"
            android:exported="false" />
        <activity
            android:name=".view.role.admin.activities.InfomasiSampahActivity"
            android:exported="false" />
        <activity
            android:name=".view.role.user.activities.scan.ScanSampahActivity"
            android:label="Scan Sampah"
            android:parentActivityName=".view.role.user.activities.dashboard.UserDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.role.user.activities.tukarsampah.AddTukarSampahActivity"
            android:exported="false" />
        <activity
            android:name=".view.role.user.activities.informasisampah.InformasiActivity"
            android:exported="false" />
        <activity
            android:name=".view.role.user.activities.lokasi.LokasiActivity"
            android:exported="false" />
        <activity
            android:name=".view.role.user.activities.dashboard.UserDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.role.admin.dashboard.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.role.admin.banksampahprofile.EditProfileBSActivity"
            android:exported="false" />
        <activity
            android:name=".view.role.admin.banksampahprofile.ProfileBSActivity"
            android:exported="false" />
        <activity
            android:name=".view.role.user.nasabahprofile.EditProfileActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.role.user.nasabahprofile.ProfileNasabahActivity"
            android:exported="false" />
        <activity
            android:name=".view.role.user.activities.pickup.AddPickupActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.spalshscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.main.MainActivity" />
    </application>

</manifest>