<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adityakarang.sampahku">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sampahku">
<!--        <activity-->
<!--            android:name=".ui.HomeActivity"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_home" />-->
        <activity
            android:name=".NotifikasiBSActivity"
            android:exported="false" />
        <activity
            android:name=".banksampahprofile.EditProfileBSActivity"
            android:exported="false" />
        <activity
            android:name=".banksampahprofile.ProfileBSActivity"
            android:exported="false" />
        <activity
            android:name="com.adityakarang.sampahku.view.bottomnav.ui.nasabahprofile.EditProfileActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.maps.MapsActivity"
            android:exported="false" />
        <activity
            android:name="com.adityakarang.sampahku.view.bottomnav.ui.nasabahprofile.ProfileNasabahActivity"
            android:exported="false" />
        <activity
            android:name=".view.pickup.PickupActivity"
            android:exported="false" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.adityakarang.sampahku.view.bottomnav.BottomNavActivity"
            android:exported="false" />
    </application>

</manifest>